/* Set box-sizing to border-box */
* {
    box-sizing: border-box;
}
  
/* Remove default margin and padding on body */
body {
    margin: 0;
    padding: 0;
    background-color: #124559;
    font-family: 'PT Sans', sans-serif;
}
  body.h1{
    letter-spacing: 10px;
}
/* Center the form vertically */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 
/* Style the form */
form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: px solid #01161E;
    border-radius: 24px;
    box-shadow: 0px 3px 6px 3px rgba(32,33,36,0.28);
    height: 48px;
    padding: 0 16px;
    width: 50%;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    form {
        width: 90%;
    }
  
    #search-btn {
        height: 30px;
        width: 30px;
    }
}
  
/* Style the label */
label {
    margin-right: 16px;
}
  
/* Style the input */
input {
    border: none;
    flex: 1;
    font-size: 16px;
    height: 100%;
    outline: none;
}
  
/* Style the submit button */
#search-btn {
    background-color: #f1f3f4;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    margin-left: 8px;
    padding: 0;
    width: 36px;
    transition: background-color 0.3s ease-in-out;
  }
  
  #search-btn:hover {
    background-color: #01161E;
    animation: pulse 1.8s ;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
/* Style the search icon */
.icon-tabler-search {
    display: block;
    height: 18px;
    margin: 0 auto;
    width: 18px;
}
#search-btn:hover .icon-tabler-search {
    fill: #f1f3f4;
  }
  